{{>layouts/header}}
{{#userList}}
    <div class="card m-2" style="max-width: 500px; object-fit: cover;">
        <a href="/user/{{id}}" class="text-decoration-none text-dark d-block">
            <div class="row g-0 align-items-center p-2">
                <div class="col-md-4">
                    <img src="/images/user-3296.png" class="rounded me-3" style="width: 80px; height: 80px;" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="fw-bold">{{name}}</div>
                        ID: {{number}}<br>
                        Email: {{email}}
                    </div>
                </div>
            </div>
        </a>
    </div>
{{/userList}}
<br>&nbsp;<a href="" class="btn btn-primary">Login</a>
&nbsp;<a href="/user/new" class="btn btn-primary">Register</a>
{{>layouts/footer}}





<!--<table class="table">-->
<!--    <thead class="table-dark">-->
<!--    <tr>-->
<!--        <th scope="col">ID</th>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Employee ID</th>-->
<!--        <th scope="col">Email</th>-->
<!--        <th scope="col">Profile</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {{#userList}}-->
<!--        <tr>-->
<!--            <th>{{id}}</th>-->
<!--            <td>{{name}}</td>-->
<!--            <td>{{number}}</td>-->
<!--            <td>{{email}}</td>-->
<!--            <td><a href="/user/{{id}}" class="btn btn-info">View</a></td>-->
<!--        </tr>-->
<!--    {{/userList}}-->
<!--    </tbody>-->
<!--</table>-->