{{>layouts/header}}
<style>
    .list-group-item {
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }
</style>
{{#user}}
    <div class="d-flex align-items-start m-3">
        <div class="card" style="width: 18rem;">
            <div class="d-flex justify-content-center pt-3 ps-4 pe-4 ">
                <img src="/images/user-3296.png" class="img-fluid" alt="User Icon">
            </div>
            <div class="card-body text-center">
                <h3>{{name}}</h3>
                <small class="text-body-secondary">description</small>
                <div class="d-flex justify-content-center m-2">
                    <a href="/user/{{id}}/edit" class="btn btn-primary">Edit</a>
                    &nbsp;<a href="/user/{{id}}/delete" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <ul class="list-group flex-grow-1">
            <li class="list-group-item d-flex">
                <span class="label w-25 fw-bold">Full Name</span>
                <span class="value">{{name}}</span>
            </li>
            <li class="list-group-item d-flex">
                <span class="label w-25 fw-bold">ID</span>
                <span class="value">{{number}}</span>
            </li>
            <li class="list-group-item d-flex">
                <span class="label w-25 fw-bold">Email</span>
                <span class="value">{{email}}</span>
            </li>
            <li class="list-group-item d-flex">
                <span class="label w-25 fw-bold">Phone</span>
                <span class="value"></span>
            </li>
            <li class="list-group-item d-flex">
                <span class="label w-25 fw-bold">Address</span>
                <span class="value"></span>
            </li>
            <li class="list-group-item d-flex">
                <a href="/user/{{id}}/edit" class="btn btn-primary">Edit</a>
                &nbsp;<a href="/user/{{id}}/delete" class="btn btn-danger">Delete</a>
                &nbsp;<button type="button" class="btn btn-info" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="{{password}}">
                    Password
                </button>
            </li>
        </ul>
    </div>
{{/user}}
&nbsp;<a href="/user" class="btn btn-primary">Back</a>
{{>layouts/footer}}

<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    popoverTriggerList.forEach(el => new bootstrap.Popover(el));
</script>