{{>layouts/header}}
<div class="list-group">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Attendance</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
        {{#attendanceList}}
            <style>
                .custom-hover:hover {
                  background-color: #DCDCDC;
                }
            </style>
            <tr>
                <th>{{id}}</th>
                <td>{{employeeName}}</td>
                <td>{{attendanceTime}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item custom-hover" href="/attendance/{{id}}">Details</a></li>
                            <li><a class="dropdown-item custom-hover" href="/attendance/{{id}}/edit">Edit</a></li>
                            <li><a class="dropdown-item custom-hover" href="/attendance/{{id}}/delete">Undo</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {{/attendanceList}}
        </tbody>
    </table>
</div>
&nbsp;<a href="/attendance/new" class="btn btn-primary">Check In</a>
{{>layouts/footer}}





<!--<table class="table">-->
<!--    <thead class="table-dark">-->
<!--    <tr>-->
<!--        <th scope="col">Attendance</th>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Employee ID</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {{#attendanceList}}-->
<!--        <tr>-->
<!--            <th>{{id}}</th>-->
<!--            <td><a href="/attendance/{{id}}">{{employeeName}}</a></td>-->
<!--            <td>{{attendanceTime}}</td>-->
<!--        </tr>-->
<!--    {{/attendanceList}}-->
<!--    </tbody>-->
<!--</table>-->
<!--<br>&nbsp;<a href="/attendance/new" class="btn btn-primary">Check In</a>-->