{{>layouts/header}}
<form class="container" action="/attendance/create" method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="employeeName">
    </div>
    <div class="mb-3">
        <label class="form-label">Time</label>
        <input type="text" class="form-control" name="attendanceTime">
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
    <a href="/attendance" class="btn btn-primary">Back</a>
</form>
{{>layouts/footer}}