{{>layouts/header}}
<table class="table">
    <thead class="table-dark">
    <tr>
        <th scope="col">Attendance</th>
        <th scope="col">Name</th>
        <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {{#attendance}}
        <tr>
            <th>{{id}}</th>
            <td>{{employeeName}}</td>
            <td>{{attendanceTime}}</td>
        </tr>
    {{/attendance}}
    </tbody>
</table>
<a href="/attendance/{{attendance.id}}/edit" class="btn btn-primary">Edit</a>
<a href="/attendance/{{attendance.id}}/delete" class="btn btn-danger">Delete</a>
<a href="/attendance" class="btn btn-primary">Back</a>
{{>layouts/footer}}