{{>layouts/header}}
{{#article}}
    <a href="/articles" class="btn btn-outline-secondary btn-sm mt-2 ms-2">Article Index</a>
    <div class="d-flex justify-content-between align-items-start mt-2 me-3 ms-3">
        <h3 class="card-title mb-0">#{{id}} {{title}}</h3>
        <div class="dropdown">
            <button class="btn btn-link p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Article options menu">
                <img src="/images/dots-circle-horizontal.svg" alt="">
            </button>
            <ul class="dropdown-menu">
                <li><a href="/articles/{{id}}/edit" class="dropdown-item">Edit</a></li>
                <li><a href="/articles/{{id}}/delete" class="dropdown-item text-danger">Delete</a></li>
            </ul>
        </div>
    </div>
    <p class="card-text m-3">{{content}}</p>
    <hr>
{{/article}}
{{>comments/_comments}}
{{>layouts/footer}}